/* Interface background */
.background{
    background-image: url('image/back-ground.jpg');
    background-size: cover;
}
#head-block{
    position: relative;
}
#logo-block {
    position: absolute;
    left: 10px;
    color: rgb(243, 126, 47);
   
}
/* Search Box */
#custom-search-input {
    margin:0;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0;
    
}
 
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:rgba(123, 139, 150, 0.3);
    color: rgb(253, 253, 255);
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:rgb(15, 153, 217);
}
 
.search-query:focus + button {
    z-index: 3;   
}

/* symptoms block */
#symptoms-block{
    position: relative;
    margin-left: 10px;
    width: 383px;
    padding: 5px;
    font-family: "Arial"; font-size: 11pt;
    font-weight: bold;
    background-color: rgb(42, 76, 126,.5);
    text-align: left;
  
}

.symp-list{
    color: rgb(156, 204, 236);
}

/* Result Table */

table {
    position: relative;
    width: 383px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(156, 204, 236);
   
}
th{
    font-family: "Arial"; font-size: 11pt;
    background-color: rgb(42, 76, 126,.5);
}
td{
    padding: 5px;
    font-family: Arial; font-size: 10pt;
    font-weight: bold;
    background-color: rgb(42, 76, 126,.5);
}


/* Main Division */
#block-main
{
    position: relative;
    text-align:center;
}
/* Result table block */
#block-result
{
    position: absolute;
    left: 0px;
    display:inline-block;
}
/* Fish eye block */
#block-eyefish{
    position: absolute;
    top: 30%;
    display:inline-block;
}
/* disease circle*/
#disease-circle{
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgb(161, 157, 157,.3);
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(240, 85, 28);
    border-width: 10px;
  }

/*Node Hover*/
div.tooltip {	
    position: absolute;		
    text-align: center;			
   	padding: 2px;				
    font: 14px sans-serif;	font-weight: bold;	
    color: rgb(240, 244, 247);
    background: rgb(44, 129, 240);	
    border: 0px;		
    border-radius: 8px;			
    	
}

/*Right click on node and show menu*/
.context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 90px;
    border: 1px solid #d4d4d4;
    z-index: 1200;
  }
  
  .context-menu ul {
    list-style-type: none;
    margin: 2px 0px;
    padding: 0px;
    cursor: default;
  }
  
  .context-menu ul li {
    padding: 4px 16px;
  }
  
  .context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
  }