<!DOCTYPE html>
<html>
<head>
    <title>TMRS</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
</head>

<body class="background">
    
    <!-- Search Box -->
    <div id="head-block">
    <div id="logo-block"><h2>TMRS</h2></div>
    <div class="container">
    <div class="row">
        <form action ="/" method="POST">
        <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" name="symptoms" class="search-query form-control" placeholder="Search" required/>
            <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">
            <span class=" glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
        </div>
        </form>
    </div>
    </div>
    </div>
    <!-- End Search Box -->

    <!-- Main block-->
    <div id="block-main">
    
    {% if diseases %}
    <!-- Symptoms block-->
    <div id="symptoms-block">
        <div style="padding: 10px;">
        <p style="border:1px; border-style:solid; border-color:rgb(15, 153, 217); padding: 5px; color: #e8ebee;">
            Symptoms
        </p>
        </div>
        <!-- Display symptoms list -->
        <ul class="symplist" id="symtomslist">
        </ul> 

        <input class="symptominput-list" type="text" id="symptomitem"> 
        <button class="symptomaddbtn" id="addsymptom">Add</button>
        <div align="center"><button class="symptomsubmitbtn" onclick="centroid_calculation()">Submit</button></div>
        
    </div>
    <!-- Table result block-->
    <div id="block-result">
        <!-- result add in javascript-->
        <table id="disease_table">
        </table>
    </div>
    
    <!-- End table result block-->


    <!-- Fish eye block-->
    <div id="block-eyefish">
    
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
        var w = 550;
		var h = 550;
        var ptop = 70;
        var pright = 250;
        var py_symptoms = JSON.parse('{{ symptoms|tojson }}');
        var py_diseases = JSON.parse('{{ diseases|tojson }}');
 		var dataset = {
			nodes:  JSON.parse('{{ node|tojson }}'),
			edges: JSON.parse('{{ edge|tojson }}')
		};
        var force;
        var node_drag;
        var circle4;
        var circle3;
        var circle2;
        var circle1;
        var svg;
        var zoomContainer;
        var edges;
        var nodes;
        var label;
        //Right click menu 
        var menu = [
                    'Info',
                    'Node symptoms',
                    'Add symptom',
                    'Remove node'
                    ];
        var symptomlist = [];
        var ullist = document.getElementById('symtomslist');
        var diseasetable = document.getElementById('disease_table');
        var add = document.getElementById('addsymptom');

        function graph_background(){
            
            circle4 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop)+"px")
                        .style("right", (pright)+"px")
                        .style("background", "rgb(161, 157, 157,0.1)")
                        .style("border-radius", "100%")
                        .style("box-shadow", "0 0 20px rgba(15, 153, 217)")
                        .attr("width", w)
						.attr("height",h);
           
            circle3 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop+75)+"px")
                        .style("right", (pright+75)+"px")
                        .style("background", "rgba(83, 118, 233, 0.1)")
                        .style("border-radius", "100%")
                        .style("border-style", "solid")
                        .style("border-color", "rgb(86, 161, 211)")
                        .style("border-width", "3px")
                        .attr("width", "400")
						.attr("height", "400");

            circle2 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop+125)+"px")
                        .style("right", (pright+125)+"px")
                        .style("background", "rgba(83, 118, 233, 0.2)")
                        .style("border-radius", "100%")
                        .style("border-style", "solid")
                        .style("border-color", "rgb(86, 161, 211)")
                        .style("border-width", "3px")
                        .attr("width", "300")
						.attr("height", "300");

            circle1 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop+225)+"px")
                        .style("right", (pright+225)+"px")
                        .style("background", "rgb(161, 157, 157,.2)")
                        .style("border-radius", "100%")
                        .style("border-style", "solid")
                        .style("border-color", "rgb(240, 85, 28)")
                        .style("border-width", "5px")
                        .attr("width", "100")
						.attr("height", "100");
            svg = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop)+"px")
                        .style("right", (pright)+"px")
                        .style("border-radius", "100%")
                        .attr("width", w)
						.attr("height", h);
        }
        
        function create_graph(){

            force = d3.layout.force()
                    .nodes(dataset.nodes)
                    .links(dataset.edges)
                    .size([w, h])
                    .linkDistance([100])
                    .charge([-150])
                    .start();

            node_drag = d3.behavior.drag()
                    .on("dragstart", dragstart)
                    .on("drag", dragmove)
                    .on("dragend", dragend);

            zoomContainer = svg.call(d3.behavior.zoom().on("zoom", function () {
                                zoomContainer.attr("transform",
                                                "translate(" + d3.event.translate + ")"
                                                + " scale(" + d3.event.scale + ")");
                            }))
                            .append("g");
                            
		    edges = svg.selectAll("line")
						.data(dataset.edges)
						.enter().append("line")
						.style("stroke", "white")
                        .style("stroke-opacity", .2)
                        .style("stroke-width", 1)
                        //.style("filter", "drop-shadow(0px 0px 2px rgb(15, 153, 217))")

            nodes = svg.selectAll("circle")
						.data(dataset.nodes)
				        .enter().append("circle")
                        .attr("r", 6)
                        .style("filter", function (d) {
                            // Label input symptoms by color
                            if(symptomlist.includes(d.name)){
                                return "drop-shadow(0px 0px 9px rgba(238, 111, 8, 0.952))";
                            }
                            else{
                                return "drop-shadow(0px 0px 9px "+d.rgba+")";
                            }
                        })
						.style("fill", "white")
                        .style("stroke", function (d) {
                            // Label input symptoms by color
                            if(symptomlist.includes(d.name)){
                                return "rgba(238, 111, 8, 0.952)";
                            }
                            else{
                                return d.rgba;
                            }
                        })
                        .style("stroke-opacity", .5)
                        .style("stroke-width", 5)
                        //.on("click", click)
                        .on("contextmenu", function (d, i) { 
                            // create the div element that will hold the context menu
                            d3.selectAll('.context-menu')
                                .data([1])
                                .enter()
                                .append('div')
                                .attr('class', 'context-menu');
                            // close menu
                            d3.select('body').on('click.context-menu', function() {
                            d3.select('.context-menu').style('display', 'none');
                            });
                            // this gets executed when a contextmenu event occurs
                            d3.selectAll('.context-menu')
                                .html('')
                                .append('ul')
                                .selectAll('li')
                                .data(menu)
                                .enter()
                                .append('li')
                                .text(function (d) {
                                    return d;
                                })
                                .on('click', function(clickmenu) {
                                    if(clickmenu == 'Info'){
                                        Document_box(d);
                                    }
                                    else if(clickmenu == 'Node symptoms'){
                                        get_node_symptoms(d);
                                    }
                                    else if(clickmenu == 'Add symptom'){
                                        add_symptom(d);
                                    }
                                    else if(clickmenu == 'Remove node'){
                                        click_remove_node(d);
                                    }
                                    
                                    d3.select('.context-menu').style('display', 'none');
                                });

                            d3.select('.context-menu').style('display', 'none');
                            // show the context menu
                            d3.select('.context-menu')
                                .style('left', (d3.event.pageX + 3) + 'px')
                                .style('top', (d3.event.pageY - 2) + 'px')
                                .style('display', 'block');
                            d3.event.preventDefault();
                        })                    
                        .call(node_drag);
            
		    label = svg.selectAll("text")
						.data(dataset.nodes)
						.enter()
						.append("text")
					    .text(function (d) { return d.name; })
					    .style("text-anchor", "middle")
					    .style("fill", "rgb(156, 204, 236)")
					    .style("font-family", "Arial")
					    .style("font-size", 12);
            
            force.on("tick", tick);
        }
	
        function dragstart(d, i) {
		    force.stop() // stops the force auto positioning before you start dragging
	    }

        function dragmove(d, i) {
            d.px += d3.event.dx;
            d.py += d3.event.dy;
            d.x += d3.event.dx;
            d.y += d3.event.dy; 
            tick(); // this is the key to make it work together with updating both px,py,x,y on d !
        
        }

        function dragend(d, i) {
            d.fixed = true; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
            tick();
            force.resume();
                   
        }
           
        //Node and edge position
        function tick(){
            d3.selectAll('circle').attr("transform", function(d) { 
                //console.log("translate("+d.name + d.x + "," + d.y + ")");
                return "translate(" + (d.x) + "," + (d.y) + ")"; });
            d3.selectAll('line')
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });
            
            d3.selectAll('text').attr("x", function(d){ return d.x; })
                .attr("y", function (d) {return d.y - 10; });

            
        }

        // ************************* Click Change Centroid ****************************** 
        function click(d){ 
            console.log(d.name)
            
            $.ajax({
                url: "/re_centroid",
                type: "post", //send it through get method
                data:{'centroid': d.name},
               
            })
            .done(function(data){
                if(data.error){
                    console.log("Error")
                }
                else{
                  
                    update_position = data.node
                    nodes.each(function(n, i){
                        n.px = update_position[i].x;
                        n.py = update_position[i].y;
                        n.x = update_position[i].x;
                        n.y = update_position[i].y; 
                    });
                    
                }

            });
        }

        // ************************* Display Node Document ****************************** 
        function Document_box(d){
            //console.log(d.name)
         	  
            $.ajax({
                url: "/send_document",
                type: "post", //send it through get method
                data:{'over_node': d.name},
               
            })
            .done(function(data){
                if(data.error){
                    console.log("Error")
                }
                else{
                    //console.log("Document of :"+data.read)
                    
                    // Define the div for the tooltip
                    var div = d3.select("body").append("div")	
                        .attr("class", "tooltip")
                        .style("width", 610 +"px")
						.style("height", 610 +"px");
                   
                    div.transition()		
                        .style("opacity", 1);
                    if(data.read != null){
                        
                        div.html("<span class='close' style='padding:3px;'  onclick='$(this).parent().remove();'>x</span>"+
                                "<iframe src='"+data.read+"' style=' width: 610px; height: 580px;'></iframe>");	
                    }
                    else{
                        div.html("<span class='close' style='padding:3px;'  onclick='$(this).parent().remove();'>x</span>"+
                                "<br><br><br><br><br><br><br><br><br><br><br><br><br><br> No document for this node..");	
                    }
                    //div.style("left", (d.x) + "px")		
                    //    .style("top", (d.y - 28) + "px")
                    div.style("right", 20 + "px")		
                        .style("top", 10 + "px")
             
                            
                }

            });
        }

        // ************************* Get node symptoms ********************************** 
        function get_node_symptoms(d){
            console.log("Get nieghbors of :"+d.name);
            $.ajax({
                url: "/node_symptoms",
                type: "post", //send it through get method
                data:{'node': d.name},
               
            })
            .done(function(data){
                if(data.error){
                    console.log("Error")
                }
                else{
                    remove_graph();
                    dataset = {
                        nodes: data.nodes,
                        edges: data.edges
                    };
                    create_graph();
                }
            });
        }
        
        // ************************* Re-Calculate centroid ****************************** 
        function centroid_calculation(){
            $.ajax({
                url: "/re_centroid",
                type: "post", //send it through get method
                data:JSON.stringify({'symptoms': symptomlist}),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //$("body").html(response);
                    py_diseases = data.diseases;
                    dataset = {
                        nodes: data.node,
                        edges: data.edge
                    };
                    diseasetable.innerHTML = "";
                    get_diseaseslist();
                    remove_graph();
                    create_graph();
                    }
                })
        }
               
        // ************************* Get main centroid graph ****************************
        function centroid_graph(){
            $.ajax({
                url: "/centroid_graph"
               
            })
            .done(function(data){
                if(data.error){
                    console.log("Error")
                }
                else{
                    remove_graph()
                    dataset = {
                        nodes: data.nodes,
                        edges: data.edges
                    };
                    create_graph();
                }
            });
        }
        
        // ************************* Remove graph ***************************************
        function remove_graph(){
            nodes.remove();
            edges.remove();
            label.remove();
        }
        
        // ************************* Recieve diseases, symptoms from python *************
        function get_symptomslist(){
            for(symp of py_symptoms){
                var newElement = document.createElement('LI');
                symptomlist.push(symp);
                ullist.appendChild(newElement);
                newElement.setAttribute('rel', symp);
                newElement.innerHTML= symp+"<button class='sympclosebtn'>X</button>";
            }

        }
        
        function get_diseaseslist(){
            
            var boxhead = document.createElement('TR');
            diseasetable.appendChild(boxhead);
            boxhead.innerHTML = "<th style='padding: 10px;' colspan='5'>"+
                                "<p style='border:1px; border-style:solid; border-color:rgb(15, 153, 217); padding: 4px; color: #e8ebee;'>"+
                                "Centroid Calculation"+
                                "<button class='centroidbtn' onclick='centroid_graph()'>Centroid</button>"+
                                "</p>"+
                                "</th>";
            var columtitle = document.createElement('TR');
            diseasetable.appendChild(columtitle);
            columtitle.innerHTML = "<td style='font-size: 10pt;'></td>"+
                                    "<td style='text-align:left; font-size: 10pt;'>Name</td>"+
                                    "<td style='text-align:left; font-size: 10pt;'>Distance</td>"+
                                    "<td style='text-align:left; font-size: 10pt;'>Hop</td>"+
                                    "<td style='text-align:left; font-size: 10pt;'>Symptoms</td>";

            // for disease list that the result from python.
            var number = 1;
            for(disease in py_diseases){
                var newElement = document.createElement('TR');
                diseasetable.appendChild(newElement)
                newElement.innerHTML = "<td>"+number+".</td>";
                // display disease name.
                newElement.innerHTML += "<td style='text-align:left; '>"+disease+"</td>";
                // iterate dict value --> distance, hop  
                for(i = 0; i < py_diseases[disease].length; i++){
                    newElement.innerHTML += "<td style='text-align:left; '>"+py_diseases[disease][i]+"</td>";
                   
                }
                newElement.innerHTML += "<td style='text-align:center; '><button class='symptombtn' onclick='get_node_symptoms({name:\""+disease+"\"})'>Show</button></td>";
                number++;
            }
        }
        
        // ************************* Right click remove node ****************************
        function click_remove_node(d){
            console.log("Remove : "+ d.name);

            // remove node
            var temp_nodes = []
            for(index in dataset.nodes){
                if(dataset.nodes[index].name != d.name){
                    temp_nodes.push(dataset.nodes[index]);
                }
            }
            // remove link
            var temp_edges = []
            var connected_node = []
            for(index in dataset.edges){
                if(dataset.edges[index].source.name != d.name && dataset.edges[index].target.name != d.name){
                    temp_edges.push(dataset.edges[index]);
                }
                else{ // keep connected node for check which node have only one connected.
                    if(dataset.edges[index].source.name == d.name){
                        connected_node.push(dataset.edges[index].target.name);
                    }
                    else{
                        connected_node.push(dataset.edges[index].source.name);
                    }

                }
            }

            // remove connected node
            for(index in connected_node){
                var connect_amount = 0;
                for(e_index in temp_edges){
                    if(temp_edges[e_index].source.name == connected_node[index] || temp_edges[e_index].target.name == connected_node[index]){
                        connect_amount++;
                    }
                }

                if(connect_amount < 1){

                    // remove connected node in list
                    for(r_index in temp_nodes){
                        if(temp_nodes[r_index].name == connected_node[index]){
                            temp_nodes.splice(r_index, 1);
                            break;
                        }
                    }
                    // remove connected node link in list
                    for(r_index in temp_edges){
                        if(temp_edges[r_index].source.name == connected_node[index] || temp_edges[r_index].target.name == connected_node[index]){
                            temp_edges.splice(r_index, 1);
                        }
                       
                    }
                }
            }

            // re-create graph
            remove_graph();
            dataset = {
                nodes: temp_nodes,
                edges: temp_edges
            };
            create_graph();


        }

        // ************************* initiated graph ************************************ 
        get_symptomslist();
        get_diseaseslist();
        graph_background();
        create_graph();
               
    </script>
    
    </div>
    <!-- End fish eye block -->
    

    <!-- Slider for adjust edge value-->
    
    <div id="slider-box">
        <p style="color:rgb(156, 204, 236);"><b>Cost : <span id="distance_value"></span></b></p>
        <input type="range" min="1" max="100" value="50" class="edgeslider" id="sliderbar">
    </div>
    
    <!-- End Slider -->

</div>
<!-- End Main box -->
<script>
    // ************************* Symptom Add/Remove list ****************************
    function add_symptom(d){
            var newElement = document.createElement('LI');
            if(d != 0){
                if(!symptomlist.includes(d.name)){
                    symptomlist.push(d.name);
                    ullist.appendChild(newElement);
                    newElement.setAttribute('rel', d.name);
                    newElement.innerHTML= d.name+"<button class='sympclosebtn'>X</button>";
                }
               
            }
            else{
                var item = document.getElementById('symptomitem');
                if(!symptomlist.includes(item.value)){
                    symptomlist.push(item.value);
                    ullist.appendChild(newElement);
                    newElement.setAttribute('rel', item.value);
                    newElement.innerHTML= item.value+"<button class='sympclosebtn'>X</button>";
                    
                }
                item.value = '';
            }
            

        } 
            
        //adding a new element to the list
        add.addEventListener('click', function(){
            add_symptom(0)
        

        });
        //remove a element
        ullist.addEventListener('click', function(e){
        if(e.target && e.target.nodeName == "BUTTON") {
            
            // Remove element in list
            const removeindex = symptomlist.indexOf(e.target.parentNode.getAttribute('rel'));
            if (removeindex > -1) {
                symptomlist.splice(removeindex, 1);
            }

            // Remove element in ul.
            e.target.parentNode.remove();
           
            }
        });
             
    // ******************* Slider bar for adjust node by edge distance *************
    var slider = document.getElementById("sliderbar");
    var output = document.getElementById("distance_value");
    output.innerHTML = slider.value;
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
    
{% endif %}
</body>


</html>

