<!DOCTYPE html>
<html>
<head>
    <title>TMRS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body class="background">
    
    <!-- Search Box -->
    <div id="head-block">
    <div id="logo-block"><h2>TMRS</h2></div>
    <div class="container">
    <div class="row">
        <form action ="/" method="POST">
        <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" name="symptoms" class="search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">
            <span class=" glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
        </div>
        </form>
    </div>
    </div>
    </div>
    <!-- End Search Box -->

    <!-- Main block-->
    <div id="block-main">
    
    {% if diseases %}
    <!-- Symptoms block-->
    <div id="symptoms-block">
        <div style="padding: 10px;">
        <p style="border:1px; border-style:solid; border-color:rgb(15, 153, 217); padding: 5px; color: #e8ebee;">
            Symptoms
        </p>
        </div>
        <ul class="symp-list">
            {% for symp in symptoms %}
                <li>{{symp}}</li>
            {% endfor %}
        </ul> 
    </div>
    <!-- Table result block-->
    <div id="block-result">
    <table>
    <tr>
        <th style="padding: 10px;" colspan="4">
            <p style="border:1px; border-style:solid; border-color:rgb(15, 153, 217); padding: 4px; color: #e8ebee;">
                Diagnosis Recommendation
            </p>
        </th>
    </tr>
    <tr>
        <td style="font-size: 10pt;"></td>
        <td style="text-align:left; font-size: 10pt;">Name</td>
        <td style="text-align:left; font-size: 10pt;">Distance</td>
        <td style="text-align:left; font-size: 10pt;">Hop</td>
    </tr>
    {% set count = namespace(value=1) %}
    {% for disease, distance in diseases.items() %}
    <tr>
        <td > {{ count.value }}. </td>
        <td style="text-align:left; "> {{ disease }} </td>
        <td style="text-align:left; "> {{ distance[0] }} </td>
        <td style="text-align:left; "> {{ distance[1] }} </td>
    </tr>
        {% set count.value = count.value + 1 %}
    {% endfor %}
    </table>
    </div>
    
    <!-- End table result block-->


    <!-- Fish eye block-->
    <div id="block-eyefish">
    
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
        var w = 550;
		var h = 550;
        var ptop = 70;
        var pright = 250;
 
		var dataset = {
			nodes:  JSON.parse('{{ node|tojson }}'),
			edges: JSON.parse('{{ edge|tojson }}')
		};
		var force = d3.layout.force()
                    .nodes(dataset.nodes)
                    .links(dataset.edges)
                    .size([w, h])
                    .linkDistance([100])
                    .charge([-150])
                    .start();
        var node_drag = d3.behavior.drag()
                    .on("dragstart", dragstart)
                    .on("drag", dragmove)
                    .on("dragend", dragend);
        var move = false;
        function dragstart(d, i) {
		    force.stop() // stops the force auto positioning before you start dragging
	    }

        function dragmove(d, i) {
            d.px += d3.event.dx;
            d.py += d3.event.dy;
            d.x += d3.event.dx;
            d.y += d3.event.dy; 
            tick(); // this is the key to make it work together with updating both px,py,x,y on d !
            move = true;
        }

        function dragend(d, i) {
            d.fixed = true; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
            tick();
            force.resume();
            setTimeout(function(){
                move = false;
            }, 1000)
            
        }

        var circle4 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop)+"px")
                        .style("right", (pright)+"px")
                        .style("background", "rgb(161, 157, 157,0.1)")
                        .style("border-radius", "100%")
                        .style("box-shadow", "0 0 20px rgba(15, 153, 217)")
                        .attr("width", w)
						.attr("height",h);

        var circle3 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop+75)+"px")
                        .style("right", (pright+75)+"px")
                        .style("background", "rgba(83, 118, 233, 0.1)")
                        .style("border-radius", "100%")
                        .style("border-style", "solid")
                        .style("border-color", "rgb(86, 161, 211)")
                        .style("border-width", "3px")
                        .attr("width", "400")
						.attr("height", "400");

        var circle2 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop+125)+"px")
                        .style("right", (pright+125)+"px")
                        .style("background", "rgba(83, 118, 233, 0.2)")
                        .style("border-radius", "100%")
                        .style("border-style", "solid")
                        .style("border-color", "rgb(86, 161, 211)")
                        .style("border-width", "3px")
                        .attr("width", "300")
						.attr("height", "300");
        
        var circle1 = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop+225)+"px")
                        .style("right", (pright+225)+"px")
                        .style("background", "rgb(161, 157, 157,.2)")
                        .style("border-radius", "100%")
                        .style("border-style", "solid")
                        .style("border-color", "rgb(240, 85, 28)")
                        .style("border-width", "5px")
                        .attr("width", "100")
						.attr("height", "100");

      
		var svg = d3.select("body")
						.append("svg")
                        .style("position", "absolute")
                        .style("top", (ptop)+"px")
                        .style("right", (pright)+"px")
                        .style("border-radius", "100%")
                        .attr("width", w)
						.attr("height", h);

        
		var edges = svg.selectAll("line")
						.data(dataset.edges)
						.enter().append("line")
						.style("stroke", "white")
                        .style("stroke-opacity", .2)
                        .style("stroke-width", 1)
                        //.style("filter", "drop-shadow(0px 0px 2px rgb(15, 153, 217))")

        
  
        //Right click menu 
        var menu = [
                    'Info',
                    ];

		var nodes = svg.selectAll("circle")
						.data(dataset.nodes)
				        .enter().append("circle")
                        .attr("r", 6)
                        .style("filter", function (d) {
                            return "drop-shadow(0px 0px 9px "+d.rgba+")";
                        })
						.style("fill", "white")
                        .style("stroke", function (d) {
                            return d.rgba;
                        })
                        .style("stroke-opacity", .5)
                        .style("stroke-width", 5)
                        .on("click", click)
                        .on("contextmenu", function (d, i) { 
                            // create the div element that will hold the context menu
                            d3.selectAll('.context-menu')
                                .data([1])
                                .enter()
                                .append('div')
                                .attr('class', 'context-menu');
                            // close menu
                            d3.select('body').on('click.context-menu', function() {
                            d3.select('.context-menu').style('display', 'none');
                            });
                            // this gets executed when a contextmenu event occurs
                            d3.selectAll('.context-menu')
                                .html('')
                                .append('ul')
                                .selectAll('li')
                                .data(menu)
                                .enter()
                                .append('li')
                                .text(function (d) {
                                    return d;
                                })
                                .on('click', function() {
                                    Document_box(d);
                                    d3.select('.context-menu').style('display', 'none');
                                });

                            d3.select('.context-menu').style('display', 'none');
                            // show the context menu
                            d3.select('.context-menu')
                                .style('left', (d3.event.pageX + 3) + 'px')
                                .style('top', (d3.event.pageY - 2) + 'px')
                                .style('display', 'block');
                            d3.event.preventDefault();
                        })
                        //.on("mouseover", recieve_document)
                      	/*.on("mouseout", function(d) {	
                              if(display != true){
                                clearTimeout(onNodetime);
                              }
                              else{
                                countdown = setTimeout(function(){
                                div.transition()		
                                .duration(2000)		
                                .style("opacity", 0);
                                display = false;
                           
                                }, delayInMilliseconds)	
                              }
                                
                            
                        })*/
                        .call(node_drag);
            
		var label = svg.selectAll("text")
						.data(dataset.nodes)
						.enter()
						.append("text")
					    .text(function (d) { return d.name; })
					    .style("text-anchor", "middle")
					    .style("fill", "rgb(156, 204, 236)")
					    .style("font-family", "Arial")
					    .style("font-size", 12);
                        
		
        force.on("tick", tick);
        function tick(){
            d3.selectAll('circle').attr("transform", function(d) { 
                //console.log("translate("+d.name + d.x + "," + d.y + ")");
                return "translate(" + (d.x) + "," + (d.y) + ")"; });
            d3.selectAll('line')
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });
            
            d3.selectAll('text').attr("x", function(d){ return d.x; })
                .attr("y", function (d) {return d.y - 10; });

            
        }

        // ************************* Click Change Centroid ****************************** 
        function click(d){ 
            console.log(d.name)
            
            $.ajax({
                url: "/re_centroid",
                type: "post", //send it through get method
                data:{'centroid': d.name},
               
            })
            .done(function(data){
                if(data.error){
                    console.log("Error")
                }
                else{
                  
                    update_position = data.node
                    nodes.each(function(n, i){
                        n.px = update_position[i].x;
                        n.py = update_position[i].y;
                        n.x = update_position[i].x;
                        n.y = update_position[i].y; 
                    });
                    
                }

            });
        }

        // ************************* Display Node Document ****************************** 
        function Document_box(d){
            console.log(d.name)
         	  
            $.ajax({
                url: "/send_document",
                type: "post", //send it through get method
                data:{'over_node': d.name},
               
            })
            .done(function(data){
                if(data.error){
                    console.log("Error")
                }
                else{
                    console.log("Document of :"+data.read)
                    // Define the div for the tooltip
                    var div = d3.select("body").append("div")	
                        .attr("class", "tooltip");
                    div.transition()		
                        .duration(500)		
                        .style("opacity", .9);
                    if(data.read != null){
                        
                        div.html("<span class='close' style='float:left; padding:1px;'  onclick='$(this).parent().remove();'>x</span><iframe src='"+data.read+"'></iframe>");	
                    }
                    else{
                        div.html("<br><br><br><br><br> No document for this node..");	
                    }
                    div.style("left", (d.x) + "px")		
                        .style("top", (d.y - 28) + "px")
              
                            
                }

            });
        }

       
       
        
     
    </script>
    </div>
    <!-- End fish eye block -->
    </div>
    {% endif %}
</body>

</html>

